.title {
  text-align: center;
}
body {
  background:url(https://images.pexels.com/photos/2312369/pexels-photo-2312369.jpeg?cs=srgb&dl=pexels-andrew-neel-2312369.jpg&fm=jpg);
  font-family: Arial, Helvetica, sans-serif;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.input {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 350px;
  height: 400px;
  border-radius: 10px;
  margin: auto;
  /*background-color: rgba(0, 0, 0, 0.8);*/
  backdrop-filter: blur(0.6px);
  box-sizing: border-box;
  padding: 40px;
  color: #fff;
  margin-top: 100px;
}
input {
  border-radius: 8px;
}
